/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.banner-text-2 {
  padding: 10px 15px 22px;
}
.blog-info .post-info span {
  padding-right: 4px;
}    
.blog-info h3 {
  font-size: 16px;
}    
    
    
    
    
    
    
    
    

}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul li a {
  padding: 42px 14px;
}
.logo {
  margin-top: 31px;
}
.slider-text h2 {
 font-size: 42px;
 line-height: 42px;
}
.banner-text h2 {
  font-size: 35px;
  line-height: 34px;
}
.banner-text h2 {
  font-size: 30px;
  line-height: 29px;
}
.banner-text-2 {
  padding: 8px 5px 21px;
}
.product-btn > a {
  padding: 8px 10px;
}
.header-top-menu {
  text-align: center;
}
.width-full{width:100%}
.banner-text {
  padding: 0 20px;
}
.about-title {
  margin-top: 20px;
}
 .produvt-res .pro-price span {
  font-size: 14px;
} 
.blog-active .owl-nav div {
  display: none;
}    
.product-active .owl-nav div {
  display: none;
}    
    
    
    

}

/* small mobile :320px. */
@media (max-width: 767px) {
/* .container {width:300px} */
.logo {
  margin-top: 0;
}
.product-active .owl-nav div {
  display: none;
}
.main-menu-area {
  padding: 30px 0 19px;
}
.slider-active .owl-nav div {
  font-size: 32px;
  height: 50px;
  line-height: 47px;
  width: 50px;
}
.slider-text h2 {
  font-size: 25px;
  line-height: 22px;
}
.shopping {
  padding: 13px 20px;
 
}
.slider-text span {
  font-size: 20px;
  line-height: 19px;
}
.banner-wrapper {
  width: 100%;
}
.product-active .owl-nav div.owl-next {
  right: 0;
}
.product-active .owl-nav div {
  left: 0;
}
.copyright {
  margin-bottom: 20px;
  text-align: center;
}
.payment {
  float: none;
  text-align: center;
}

.banner-img > img {
  width: 100%;
}
.about-title {
  margin-top: 20px;
}
.contact-info {
  margin-bottom: 35px;
  width: 100%;
}
.contact {
  float: left;
  width: 100%;
}
.banner-text-2 {
  padding: 10px 30px 22px;
}
.header-top-area {
  display: none;
}
.single-product-info {
  margin-top: 30px;
}    
 .cart_totals {
  text-align: left;
}   
.checkbox-form h3 {
  font-size: 15px;
}    
 .your-order {
  padding: 30px 5px 45px;
}   
 .breadcrumb-text h1 {
  font-size: 30px;
}   
.blog-text blockquote {
  padding: 14px 25px;
}    
.comment-form {
  margin-bottom: 30px;
}    
.blog-active .owl-nav div {
  display: none;
}  
.product-active .owl-nav div {
  display: none;
}    
    
    
    
    
    
    
    


}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
} 
 

